.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-inline: 2rem;

  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

  .icon {
    font-family: "WeatherIcons";
    font-size: 3rem;
  }
}

.temp,
.wind {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}
