.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--card-padding, 1rem);

  .icon {
    font-family: "WeatherIcons";
    font-size: 3rem;
    line-height: 0.85;
  }
}

.temp,
.wind {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--card-padding, 1rem);
  font-size: 2rem;
}
