@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Poppins";
  font-weight: normal;
  src: url("./Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("./Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-weight: normal;
  src: url("./RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-weight: 600;
  src: url("./RobotoMono-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "WeatherIcons";
  src: url("./WeatherIcons.ttf") format("truetype");
}
