.event {
  border-left: 0.5rem solid var(--event-color, #007bff);
  border-radius: 0.25rem;
  padding-left: 0.5rem;

  p.title {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: 2rem;
    font-weight: bold;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }

    span + span,
    span:has(+ span) {
      line-height: 1.3;
    }
  }

  p.date {
    font-size: 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
