@use "assets/fonts/fonts";
@use "assets/reset";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: "Poppins", sans-serif;
  font-size: calc(var(--font-scale) * 16px);
  background-color: black;
}

#root {
  display: contents;
}

.container {
  container-type: size;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: stretch;
  justify-content: center;

  width: 100%;
  height: 100%;
  // width: 1280px;
  // height: 800px;

  padding: calc(1rem + env(safe-area-inset-top)) calc(1rem + env(safe-area-inset-right))
    calc(1rem + env(safe-area-inset-bottom)) calc(1rem + env(safe-area-inset-left));

  gap: 1rem;

  background-color: white;
  cursor: default;

  & > div {
    border-radius: 0.625rem;
    overflow: hidden;
  }

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100cqh;
  }

  .sidebar {
    flex: 1;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: scroll;
  }
}
