.nowplaying {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.media {
  display: flex;
  align-items: stretch;

  img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 0.25rem;
  }
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;

  .title,
  .artist {
    font-size: 2rem;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.progressContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "RobotoMono", monospace;
}

.progress {
  flex: 1;
  height: 0.5rem;
  background-color: #ccc;
  border-radius: 0.25rem;
  overflow: hidden;

  .progressBar {
    height: 100%;
    background-color: #1a1a1a;
    border-radius: 0.25rem;
  }
}

.lyricsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;

  .currentLine {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .previousLine,
  .nextLine {
    font-size: 1.2rem;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
